@using TravelTripProje.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAY</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
    <td>@m.ID</td>
    <td>@m.Baslik</td>
    <td><a href="/Admin/SilBlog/@m.ID" class="btn btn-danger" >SİL</a></td>
    <td><a href="/Admin/BlogGetir/@m.ID" class="btn btn-warning">GÜNCELLE</a></td>
    <td><a href="/Blog/BlogDetay/@m.ID" class="btn btn-default">DETAY</a></td>

</tr>

    }

</table>

<a href="/Admin/YeniBlog"class="btn btn-primary">Yeni Blog</a>

